pipelines:
  - name: pipe_1
    steps:
      - name: without_requires
        type: bash
        setup:
          runtime: onHost2
        execution:
          onExecute:
            - echo "executing step without_requires..."

      - name: with_requires
        type: bash
        requires:
          integrations:
            - github-int
            - name2
            - whatname
        setup:
          runtime: onHost
        execution:
          onExecute:
            - echo "executing step with_requires..."
