resources:
  - name: file_res
    type: file
    fileLocation: https://github.com/ankul-shippable/sample_java/blob/master2/shippable.yml
    configuration:
      integrationName: github-int
    initialVersion:
      fileName: shippable.yml
      fileDtTm: random_value

pipelines:
  - name: pipe_1
    steps:
      - name: without_requires
        type: bash
        setup:
          runtime: onHost2
        execution:
          onExecute:
            - echo "executing step without_requires..."

      - name: with_requires
        type: bash
        outputResources:
          - file_res
        setup:
          runtime: onHost
        execution:
          onExecute:
            - echo "executing step with_requires...5"
