resources:
  - name: sample_node
    type: gitRepo
    repoPath: ankul-shippable/sample_node
    configuration:
      integrationName: github_int
      branches:
        only: master
    initialVersion:
      sha: master

pipelines:
  - name: pipeline_1
    setup:
      runtime: onHost
    steps:
      - name: step_0
        type: bash
        execution:
          onExecute:
            - echo "executing step_0..."  
            
      - name: step_0b
        type: bash
        execution:
          onExecute:
            - echo "executing step_0b..."              
    
      - name: step_A
        type: bash
        requires:
          steps:
            - step_0
        triggeredBy:
          resources:
            - sample_node
          steps:
            - step_0b
        execution:
          onExecute:
            - echo "executing step_A..."
            
      - name: step_D
        type: bash
        triggeredBy:
          resources:
            - sample_node 
        execution:
          onExecute:
            - echo "executing step_D..."            

      - name: step_E
        type: bash
        triggeredBy:
          steps:
            - step_A
        execution:
          onExecute:
            - echo "executing step_E..."

      - name: step_B
        type: bash
        triggeredBy:
          steps:
            - step_A
        execution:
          onExecute:
            - echo "executing step_B..."

      - name: step_C
        type: bash
        triggeredBy:
          steps:
            - step_B 
        execution:
          onExecute:
            - echo "executing step_C..."
